<h1>{{title}}</h1>
<ul>
  <li *ngFor="let todo of todos">{{todo.title}} |
    <button *ngIf="!todo.done" (click)="markAsDone(todo)" >CONCLUIR</button>
    <button (click)="markAsUndone(todo)" *ngIf="todo.done">REFAZER</button> |
    <button (click)="remove(todo)">REMOVER</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
      <input placeholder="Titulo da tarefa" maxlength="30" formControlName="title" type="text">
      <div *ngIf="form.controls.title.invalid && !form.controls.title.pristine"><small>Este campo deve conter entre 3 e 30 caracteres</small></div>
    <button [disabled]="form.invalid">Salvar</button>
  </fieldset>
</form>
