<h1>{{title}}</h1>
<ul>
  <li *ngFor="let todo of todos">{{todo.title}} |
    <button *ngIf="!todo.done" (click)="markAsDone(todo)" >CONCLUIR</button>
    <button (click)="markAsUndone(todo)" *ngIf="todo.done">REFAZER</button> |
    <button (click)="remove(todo)">REMOVER</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
      <input placeholder="Titulo da tarefa" maxlength="30" formControlName="title" type="text">
    <button (click)="addTodo(todo)">Salvar</button>
  </fieldset>
</form>
